# Environment variables (VERY IMPORTANT)
.env

# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Database
db.sqlite3

# Media files (local uploads)
media/

# Static files (optional)
staticfiles/

# OS files
.DS_Store
Thumbs.db