body{
margin:0;
padding:0;
font-family:Arial, Helvetica, sans-serif;
background:#f1efef;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

/* login box */

.login-card{
background:white;
padding:40px;
width:320px;
border-radius:12px;
box-shadow:0 10px 30px rgba(0,0,0,0.15);
text-align:center;
}

.login-card h2{
margin-bottom:25px;
}

/* inputs */

.login-card input{
width:100%;
padding:12px;
margin-bottom:15px;
border-radius:8px;
border:1px solid #ccc;
font-size:14px;
}

.login-card input:focus{
outline:none;
border-color:#ff4d6d;
}

/* button */

.login-card button{
width:100%;
padding:12px;
background:#ff3b5c;
border:none;
border-radius:8px;
color:white;
font-weight:bold;
cursor:pointer;
transition:0.3s;
}

.login-card button:hover{
background:#e63950;
}